.wrapper {
	min-height: 120px;
	width: 370px;
	background-color: rgba(0, 0, 0, 0.4);
	padding: 8px 18px;
}

.container {
	display: flex;
	justify-content: space-between;
}

.dropdownContainer {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: space-between;
}


@media screen and (max-width: 1023px) 
and (orientation: portrait){
	.wrapper {
		width: 100%;
	}
}
