.container {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-rows: 50px 1fr 30px 1fr 30px 1fr 50px;
    grid-template-columns: 50px repeat(2, 1fr) 30px 1fr 50px;
    position: relative;
}

.container__arena {
    grid-area: 2 / 2 / 7 / span 2;
    background-color: rgb(238, 238, 238);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* to make arena square-shaped and responsive */
/* children must have display: absolute */
.container__arena_square {
    background-color: aqua;
}

.container__info {
    grid-area: 2 / 5 / 2 / 5;
    background-color: rgb(238, 238, 238);
}
.container__leaderboard {
    position: absolute;
    width: 100%; 
    height: 100%;
    grid-area: 2 / 5 / 2 / 5;
    background-color: rgb(238, 238, 238);
}

.container__boolean {
    position: absolute;
    width: 100%; 
    height: 100%;
    grid-area: 2 / 5 / 2 / 5;
    background-color:rgb(238, 238, 238);
}

.container__users {
    grid-area: 4 / 5 / 5 / 6;
    background-color: rgb(238, 238, 238);
}

.container__log {
    grid-area: 6 / 5 / 7 / 6;
    background-color: rgb(238, 238, 238);
}

@media screen and (max-width: 768px) {
    .container {
        grid-template-rows:  1fr 1.5fr 1.5fr;
        grid-template-columns: 1fr;
        row-gap: 5px;
    }

    .container__arena {
        grid-area: 2 / 1 / 2 / 1;
    }

    .container__arena_square {
        width: 100%;
        background-color: aqua;
    }
    
    .container__leaderboard {
        grid-area: 1 / 1 / 1 / 1;
    }
    
    .container__boolean {
        grid-area: 1 / 1 / 1 / 1;
    }

    .container__log {
        grid-area: 1 / 1 / 1 / 1;
    }

    .container__users {
        grid-area: 3 / 1 / 3 / 1;
    }
}
