body {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    flex-direction: column;
    background-color: white;
    background-image: url(./background.png);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    
}

.board {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 2px solid black;
    width: 807px;
    height: 807px;
    /* margin: 0 auto; */
    position: relative;
    margin: 20px 0;
}

.boardrow {
    display: flex;

    width: 100%;
    max-width: 600px; /* set maximum width for larger screens */
}

.square {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    color: black;
    background-color: rgba(255, 255, 255, 0.4)
}



