.inner_wrapper {
    height: 120px;
	width: 370px;
}

.container__title {
    width: 100%;
    line-height: .8;
    text-align: center;
    font-weight: 500;
    font-size: 1.3rem;
    color: #000000;
}

/* Container below the Leaders tab */
.container {
	width: 100%;
	padding: 10px 0px;
}

.container__headings {
	display: flex;
    flex-flow: row nowrap;
}

.container__headings h4 {
    margin: 0;
    color: #191919;
	display: block;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 16px;
	line-height: 16px;
	margin-bottom: 3px;
    width: 33.3%;
    text-align: center;
}

@media screen and (max-width: 1023px) 
and (orientation: portrait){
    .wrapper {
        order: -1;
        width: 100%;
        margin-bottom: 10px;
    }
    .inner_wrapper {
        height: 130px;
        width: 100%;
    }
    .container__title  {
        margin-right: auto;
        padding-bottom: 8px;
    }
}

/* Smartphones landscape */
@media only screen 
  and (min-width: 375px) 
  and (max-width: 915px) 
  and (orientation: landscape) {
    .wrapper {
        order: -1;
        margin-bottom: 10px;
    }
}

