.wrapper {
    display: block;
	height: auto;
	width: 370px;
}

.wrapper h2 {
    display: block;
    font-size: 20px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    margin: 0;
    padding: 8px 18px;
}

/* Container below the Leaders tab */
.container {
	width: 100%;
    padding: 8px 18px;
    background-color: rgba(0, 0, 0, 0.2);
}

.container__headings {
	display: flex;
    flex-flow: row nowrap;
}

.container__headings h3 {
    padding: 16px 0px 8px 10px;
    margin: 0;
    width: 33.3%;
}

@media screen and (max-width: 768px) {
    .wrapper h2 {
        width: 50%;
    }
}