.wrapper {
	font-size: 1.3rem;
	display: flex;
	flex-direction: column;
	align-items:center;
	color: white;
	height: 250px;
	min-height: 120px;
	width: 395px;
	background-color: rgba(255, 255, 255, 0.6);
	padding: 8px 18px;
}


.title {
	text-align: center;
	color: rgb(0, 0, 0);
	margin: 1rem 0;
}

.logs{
	display: flex;
	font-size: 0.5rem;
	flex-direction: column;
	overflow-y: scroll;
	background-color: white;
	height: 160px;
	width: 350px;
}

.logs::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

.logs::-webkit-scrollbar-track {
	background-color: (255, 255, 255, 0.6);
}

.logs::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, 0.4);
	border-radius: 5px;
}

.logs::-webkit-scrollbar-thumb:hover {
	background-color: red;
}


.container {
	display: flex;
	flex-direction: column;
	margin: 10px 8px;
	width: 370px;
}

.status_txt {
	color: black;
	font-size: 0.85rem;
	text-align: center;
	font-weight: 900;
	margin: 5px 5px 5px 0px;
	padding: 5px;
	align-self: center;
	justify-self: center;
}

.computations_txt {
	font-size: 1rem;
	margin: 0 auto;
	margin-top: 6px;
}

.computations_txt:nth-last-child(1) {
	margin-top: 5px;
	margin-bottom: 10px;
}
