.wrapper {
    height: auto;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    overflow: scroll;
}

.container {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
}

.container__segment {
    width: 33.3%;
    margin-left: 10px;

    color: #fff;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	margin-bottom: 3px;
}