.wrapper {
    box-sizing: border-box;
    height: 100px;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    overflow: scroll;
}

.container {
    box-sizing: border-box;
    display: flex;
    flex-flow: row nowrap;
    /* justify-content: space-evenly; */
    width: 100%;
}

.container__segment {
    width: 33.3%;
    margin-left: 10px;
}